body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}

.background_heading{
    color: blue;
    text-align: center;
}
.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}
.btn{
    border: 2px solid transparent;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: yellowgreen;
    transition: all 0.3s;


}
.btn:hover{
    background-color: rgb(178, 228, 104);
    border: 2px solid rgb(59, 52, 52);
}