*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
:root{
    --padding: 10px;
    --blur: 0px;
    --base: rgb(0, 255, 98);
    --width: 60%;
    --border-radius: 5px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 255, 98);
    height: 100vh;

}
.container{
    background-color: aquamarine;
    border-radius: 0.3rem;
    width: 50%;
    min-height: 70%;
    height: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* justify-content: space-around; */
}
.container > h3{
    color: rgb(132, 46, 132);
    font-size: 1.8rem;
}
.container > .css{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}
.container > .css > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem 0.8rem;
}
.container > .css > div > label,input{
    width: 100%;
    padding: 0.2rem 0rem;
}


.container > img{
    width: var(--width);
    padding: var(--padding);
    filter: blur(var(--blur));
    background-color: var(--base);
    border-radius: var( --border-radius);
}