body{
  height: 100vh;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.menu-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.menu-icon button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.hide{
  display: none;
}